@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "reko";
    src: url("/fonts/reko.ttf");
}

:root {
}

.flex-center {
    @apply flex items-center justify-center;
}

::-webkit-scrollbar {
    display: none;
}

.skeleton {
    @apply animate-pulse bg-slate-100 rounded;
}
